/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/*start*/
html {
  height: 100vh;
  background-color: #c5fad5;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-shadow: 1px 1px 2px #4aff83;
}

.container {
  display: flex;
  align-items: space-around;
  justify-content: space-around;
  flex-direction: column;
  height: 600px;
  width: 400px;
  padding: 10px;
  background-color: #aa96da;
  border: black 1px solid;
  border-radius: 3%;
  box-shadow: 10px 20px 3px #757575;
  text-align: center;
}

.displayDiv {
  height: 100px;
  width: 100%;
  background-color: #ffffd2;
  border: black 1px solid;
  text-align: end;
  font-size: 3rem;
  font-weight: bolder;
  color: #050801;
  box-shadow: 3px 5px 2px #757575;
  border-radius: 3%;
}

.row {
  display: flex;
  gap: 5px;
}

button {
  padding: 5px;
  height: 80px;
  width: 100px;
  background: #ffffd2;
  text-shadow: 1px 1px 2px #4aff83;
  border-radius: 3%;
  font-weight: bold;
  border: 1px black solid;
  border-radius: 10%;
  transition: 0.5s;
  cursor: pointer;
  font-size: 1.5rem;
  box-shadow: 3px 5px 2px #757575;
}

button:hover {
  background: #c5fad5;
  color: #050801;
  box-shadow: 0 0 20px #c5fad5;
  border: none;
}

#equals {
  width: 205px;
}
